<style>
  .active{
    background: red;
  }
</style>
<div *ngIf="showDiv">
  hi this is home component <br>{{service}}
</div>
<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tr *ngFor="let stu of testArr">
    <td>{{stu.Name|toupper}}</td>
    <td>{{stu.age|addten}}</td>
  </tr>
</table>
<div [ngClass]="{'active':showClass}">fsdfsdf</div>
<div [ngStyle]="styleProp">sakdnffmklf</div>

<div>Price 1 : {{price1|addten}}</div>
<div>Price 2 : {{price2|addten}}</div>
<div>Price 3 : {{price3|addten}}</div>